/* base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p,
li,
a,
label,
span {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
}

/* theme */
:root {
  --primary-col: #eff3ff;
  --trans: all 1s;
}

/* layout */
.container {
  max-width: 142rem;
  margin: 0 auto;
}

body {
  background-color: var(--primary-col);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.grid {
  display: grid;
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/***** Pokemon Component *****/
header {
  margin: 3.2rem 0;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  text-align: center;
}

.cards {
  place-items: center;
  gap: 3.2rem;
  margin-bottom: 3rem;
}

/***** End Pokemon Component *****/

/***** PokemonCard component *****/
span {
  font-weight: bold;
}

.pokemon-card {
  width: 100%;
  min-height: 42rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0.6rem 2.4rem 0,
    rgba(0, 0, 0, 0.08) 0 0 0 0.1rem;
  background-color: #fff;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  padding: 1.6rem;
  position: relative;
}

.card-actions {
  margin: 2rem 0;
}

.card-clone {
  pointer-events: none;
  position: fixed;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  pointer-events: none;
}

.favorite-btn-icon .heart {
  color: gray;
  font-size: 3.5rem;
  transition: color 0.3s ease;
}

.favorite-btn-icon.favorited .heart {
  color: red;
}

.favorite-btn-icon {
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.favorite-btn-icon.favorited {
  border: none;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-link,
.compare-btn {
  padding: 5px;
  letter-spacing: 1px;
  background-color: lightblue;
  border: none;
  border-radius: 1rem;
  color: #00008b;
  cursor: pointer;

  &:hover {
    background-color: rgb(129, 184, 202);
  }
}

.pokemon-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  transform: rotate(180deg);
  background-color: #ebfbf1;
  border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  z-index: 0;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: var(--trans), box-shadow 0.3s;
}

.pokemon-card:hover::before {
  -webkit-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -moz-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -ms-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  -o-border-radius: 50% 50% 100% 0% / 99% 100% 0% 1%;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}

.pokemon-card:hover {
  transform: scale(1.03);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
  box-shadow: rgba(17, 12, 46, 0.15) 0 4.8rem 10rem 0;
}

figure {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 50px 100px rgba(50, 50, 93, 0.25));
}

.pokemon-name {
  font-size: 3.2rem;
  text-align: center;
  color: #000;
  text-transform: capitalize;
  margin-top: 2.4rem;
}

.pokemon-highlight {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1.6rem 0;

  & p {
    padding: 0.6rem 2.4rem;
    background-color: #2ecc71;
    border-radius: 20rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.pokemon-image {
  width: 60%;
  height: 15rem;
}

.all-info-div {
  gap: 1rem;
}

.pokemon-info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/***** End PokemonCard component *****/

/***** SearchPokemon component *****/

.pokemon-search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  width: 32rem;
  border-bottom: 0.2em solid #020d35;
  background: rgba(#e91e63, 0.2);
  border-radius: 0.2rem 0.2rem 0 0;
  padding: 0.8rem;
  font-size: 1.6rem;
  color: #000000;
  -webkit-border-radius: 0.2rem 0.2rem 0 0;
  -moz-border-radius: 0.2rem 0.2rem 0 0;
  -ms-border-radius: 0.2rem 0.2rem 0 0;
  -o-border-radius: 0.2erm 0.2rem 0 0;
}

/***** End SearchPokemon component *****/

/***** Filter By type *****/

select {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.7rem;
}

.sort-type--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

/***** End Filter By type *****/

/***** Pagination *****/

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.pagination-controls {
  margin-bottom: 1rem;
}

.pagination-buttons button {
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.active-page {
  font-weight: bold;
  background-color: #d0d8ff;
  border-radius: 4px;
}

/***** End Pagination *****/

/***** Random & Who win *****/

.random-btn {
  text-align: center;
}

.random-pokemon {
  padding: 1rem;
  width: 90%;
  margin: 4rem auto;
  border: 3px solid lightgray;
  background-color: darkcyan;
  font-size: 2rem;
  color: white;
  letter-spacing: 1px;
  word-spacing: 1px;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(8, 107, 107);
  }
}

.clear-compare {
  background-color: darkcyan;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  letter-spacing: 1px;
  word-spacing: 1px;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  text-transform: capitalize;

  &:hover {
    background-color: rgb(8, 107, 107);
  }
}

.compare-container {
  text-align: center;
}

.compare-pok {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 6rem 0;
}

.compare-h2 {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0;
}

.compare-grid {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;

  & h3 {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  & p {
    text-align: left;
  }
}

.who-win {
  text-align: center;
  margin: 4rem 0;

  & h2 {
    color: blue;
    font-size: 5rem;
  }

  & h3 {
    color: green;
    font-size: 2.5rem;
    margin: 1rem 0;
    text-transform: capitalize;
  }

  & p {
    color: #7a2828;
    text-transform: capitalize;
  }
}

/***** End Random & Who win *****/

/***** media queries *****/

@media (width <=1440px) {
  .container {
    margin: 0 2rem;
  }

  .cards {
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  }
}

@media (width <=768px) {
  .detail1 {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (width < 575px) {
  html {
    font-size: 58%;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .pokemon-card {
    width: 92%;
  }

  .container {
    margin: 0 auto;
  }

  .pagination-container {
    text-align: center;
  }

  .pagination-controls {
    width: 90%;
    margin: 1rem auto;
  }

  .sort-type--wrapper {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .evolution-item {
    width: 29%;
  }

  .evolution-sprite {
    width: 73%;
    border-width: 4px;
  }
  .arrow {
    font-size: 12px;
  }

  .evolution-item p {
    font-size: 1.5rem;
  }

  .btn-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .who-win h2,
  .compare-h2 {
    font-size: 3rem;
  }

  .compare-grid {
    padding: 2rem;
  }
}

/***** End media queries *****/
